//mainheader
#mainheader {
    .navbar {
        ul {
            display: block;
            margin: 0 auto;
            .logo {
                display: block;
                margin: 0 auto;
                padding: 1rem 0;
            }

        }
        .fa {
            margin-top: 1.4rem;
        }
        .container {
            justify-content: center;
            width: 90%;
        }
    }
}

//showcase-products
#showcase-products {
    .container {
        .products-flex {
            display: block;
            margin: 0 auto;

        }
    }
}

//shop
#shop {
    .container {
        .shop-flex {
            display: block;
            .flexbox-left {
                .form-inline {
                    .btn {
                        width: fit-content;
                    }          
                }
                .shop-list {
                    margin-bottom: 2rem;
                }
            }
        }
    }
}

//articles
#articles {
    .container {
        .articles-flex {
            display: block;
            img {
                width: 100%;
            }
            .articles-content {
                p {
                    text-align: justify;
                }
            }
        }
    }
}